<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head>
		<link th:href="@{~/assets/css/main.css}" rel="stylesheet" />
		<title>Solr Importer</title></head>
	<body>
		<h1 th:text="${headerText}"></h1>
		<br />
		<h3>Aktueller Commit: <span class="last-commit" th:text="${commitMessage}"></span></h3>
		<div>Git-URL: <span th:text="${GIT_URL}"></span></div>
		<br />
		<hr />
		<br />
		<form method="post" action="import">
			<span>Email für Logs: </span><label>
			<input name="mailaddress" type="text" />
		</label>
			<br />
			<input type="hidden" name="solrurl" th:value="${SOLR_STAGING_URL}" />
			<input type="submit" value="Auf Staging-Server importieren" /> (<span th:text="${SOLR_STAGING_URL}"></span>)
		</form>
		<br />
		Aktueller Indexzustand des Staging-Servers: <b><span th:text="${currentCoreDateStaging}"></span></b>
		<br />
		<br />
		<hr />
		<br />
		<form method="post" action="import">
			<span>Email für Logs: </span><label>
			<input name="mailaddress" type="text" />
		</label>
			<br />
			<input type="hidden" name="solrurl" th:value="${SOLR_LIVE_URL}" />
			<input type="submit" value="Auf Live-Server importieren" /> (<span th:text="${SOLR_LIVE_URL}"></span>)
		</form>
		<br />
		Aktueller Indexzustand des Live-Servers: <b><span th:text="${currentCoreDate}"></span></b>
		<br />
		Hinweis: Es kann nur zwischen den zwei letzten Zuständen hin- und hergeschaltet werden.
		<br />
		<form method="post" action="swapcores">
			<input type="submit" value="Den vorherigen Zustand wiederherstellen" /> (<span th:text="${previousCoreDate}"></span>)
		</form>

		<br />
		<hr />
		<br />
		<h4>Letztes Log:</h4>
		<pre th:text="${log}"></pre>
	</body>
</html>
