<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>Solr Imporer</title></head>
	<body>
		<h1 th:text="${headerText}"></h1>

		Der Import wird nach der Ausführung des laufenden Prozess-Schrittes abgebrochen.
		<br />
		<br />
		Prozess-Schitte:
		<br />
		<div th:if="${stepDescriptions != null}">
		    <ul>
		       <li th:each="item : ${stepDescriptions}" th:text="${item}"></li>
		    </ul>
		</div>
		<br />
		<form method="get" action="/">
			<button type="submit">Zurück</button>
		</form>
	</body>
</html>
