<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<h1>FWB-Datenimport aus Git</h1>
		
		Der Import wird nach der Ausführung des laufenden Prozess-Schrittes abgebrochen.
		<br />
		<br />
		Prozess-Schitte: 
		<br />
		<br />
		- Leerlauf von 10 Sekunden
		<br />
		- Konvertierung TEI -> XML
		<br />
		- Vergleich TEI &lt;-> XML		
		<br />
		- Hochladen XML -> Solr
		<br />
		- Testabfragen in Solr
		<br />
		- Online-Schaltung
		<br />
		<br />
		<form method="get" action="/">
			<button type="submit">Zurück</button>
		</form>
	</body>
</html>